@import '../../app.scss';
.skills{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
  height: 100%;
  background: linear-gradient(180deg,#0c0c1d,#111132);
  @include mobile{

    height: 100%;
  }
  .text{
    text-align: justify;
    padding: 10px;
    p{
      font-size: 28px;
      letter-spacing: 1px;
      color: rgb(191, 191, 191);
      @include mobile{
        font-size: 14px;
        letter-spacing: 0;
        width: 80%;
        margin: auto;
        height: 100%;
        margin-top: 40px;
      }

    }
    @include mobile{
     padding: 0;
    }
  }
  .image{
    height: 200px;
    width: 100%;
    display: flex;
align-items: center;
justify-content: center;
padding: 0 20px;
@include mobile{

  width: 100%;
  margin: auto;
  
 

}
    img{
      
      height: 60px;
      width: 60px;
      object-fit: contain;
      margin-bottom: 80px;
    }
  }
}